body {
  padding: 20px;
}


td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin-bottom: 20px;
}

.chart svg {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

td:first-of-type, .google-map {
  height: 200px;
  width: 250px;
}
